.custom-calendar{
    width:30%;
    display: inline-block;
}
.fc-daygrid-day-number{
    color:white;
}
.fc-toolbar-title{
    color: white;
}
.fc-col-header-cell-cushion{
    color: white;
}
li{
    color:white;
}