.custom-calendar{
    width:30%;
    display: inline-block;
}
.fc-daygrid-day-number{
    color:white;
}
.fc-toolbar-title{
    color: white;
}
.fc-col-header-cell-cushion{
    color: white;
}
li{
    color:white;
}
label{
    color:white;
}
input{
    color:black;
}
textarea{
    color:black;
}
.fc-daygrid-day-bottom{
    color: white;
}
.fc .fc-popover{
    z-index: 5;
    background-color: black;
    color:white;
}
.fc-daygrid-more-link{
    background-color: rgb(69, 72, 75);
    width: 100%;
    text-align: center;
}
