@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nanum-Bold';
    src: url('assist/font/NanumGothic-Bold.ttf');
}


@font-face {
    font-family: 'Nanum-ExBold';
    src: url('assist/font/NanumGothic-ExtraBold.ttf');
}


@font-face {
    font-family: 'Nanum-Regular';
    src: url('assist/font/NanumGothic-Regular.ttf');
}

